<launch>
    <arg name="sync" default='false'/>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
    <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" />
    <include file="$(find slam_toolbox)/online_async.launch" unless='$(arg sync)' />
    <include file="$(find slam_toolbox)/online_sync.launch" if='$(arg sync)' />
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />
</launch>